@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Inter", sans-serif;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* small screen */

@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(146, 141, 141, 0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(190, 189, 189, 0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(102, 99, 99, 0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(204, 178, 178, 0.4); 
}

.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#myGrid {
  flex: 1 1 0px;
  width: 100%;
}

.ag-theme-alpine {
  --ag-background-color: #e65757;
}
.ag-theme-acmecorp {
  --ag-odd-row-background-color: #aaa;
}

.code-highlight-blue {
  color: #a3b9a3;
}
.code-highlight-yellow {
  color: #e8bf6a;
}
.code-highlight-green {
  color: #a5c261;
}
.code-highlight-purple {
  color: #977582;
}
.transition-width {
  -webkit-transition: width 3s;
  -moz-transition: width 3s;
  -o-transition: width 3s;
  -ms-transition: width 3s;
  transition: width 3s;
}

select {
  -webkit-appearance: inherit;
  -moz-appearance: inherit;
  text-indent: 1px;
  text-overflow: "";
}

.remove-arrow{
  -webkit-appearance: inherit;
  -moz-appearance: inherit;
  text-indent: 1px;
  text-overflow: "";
}

.bg-blue {
  background: url("/img/bg-blue.jpg");
  background-size: cover;
  background-position: center;
}
.bg {
  background: url("/img/artwork.jpg");
  background-size: cover;
}
.blackish {
  background: url("/img/shadow.png");
  background-size: cover;
}

 /* Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }

 /* Firefox */
 input[type="number"] {
   -moz-appearance: textfield;
 }
 *:focus {
   outline: none;
 }



 /* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #7421f1;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  box-shadow: 0 0 7px #7421f1, 0 0 7px #7421f1;
  width: 100%;
  height: .35%;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #7421f1, 0 0 10px #7421f1;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}